* {
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-padding: 60px;
}
html header,
body header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
  transition: 0.6s;
}
html img,
body img {
  vertical-align: top;
  width: 100%;
}
html a,
body a {
  text-decoration: none;
}
html p,
body p {
  text-align: justify;
  font-size: 1rem;
}
html section,
body section {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.boton {
  display: inline-block;
  border-radius: 1.5625rem;
  font-size: 0.875rem;
  text-align: center;
  padding: 0.75rem 2.625rem;
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.3));
}

.menuBtn {
  position: absolute;
  transform: translateY(25%);
  align-items: center;
  line-height: 3.75rem;
  display: inline-block;
  cursor: pointer;
  display: none;
  z-index: 40;
}

.menuBtn__bar1,
.menuBtn__bar2,
.menuBtn__bar3 {
  width: 2.1875rem;
  height: 0.3125rem;
  border-radius: 0.1875rem;
  background-color: #333;
  margin: 0.375rem 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .menuBtn__bar1 {
  -webkit-transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
  transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
}

/* Fade out the second bar */
.change .menuBtn__bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .menuBtn__bar3 {
  -webkit-transform: rotate(45deg) translate(-0.5rem, -0.5rem);
  transform: rotate(45deg) translate(-0.5rem, -0.5rem);
}

.hero {
  width: 100%;
  height: 100vh;
  background: url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.hero__img {
  width: 100%;
  height: 100vh;
  background: radial-gradient(rgba(255, 255, 255, 0.68) 0%, white 100%);
}

.hero__h1 {
  grid-area: h1;
  font-weight: bold;
  font-size: 3.75rem;
  letter-spacing: 0.02em;
  line-height: 68px;
  text-align: left;
  text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.hero__h3 {
  grid-area: h3;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: left;
}

.hero__p {
  grid-area: p;
  font-weight: normal;
  text-align: left;
}

.hero__boton {
  grid-area: boton;
}

.hero__mangas {
  grid-area: manga;
  position: relative;
  width: 225px;
  height: 249px;
  background: url(../img/mangas_hero.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.pie {
  position: relative;
  background-color: #0cdbdb;
  width: 100%;
  height: 90%;
  overflow: hidden;
}
.pie a {
  color: #888888;
}
.pie .pie__h2 {
  grid-area: h2;
  color: #1c2126;
  text-align: center;
}
.pie .pie__p1 {
  grid-area: p1;
  color: #737373;
  text-align: center;
}
.pie .pie__iconos {
  grid-area: ico;
  display: flex;
  justify-content: space-around;
  font-size: 1.5625rem;
}
.pie .pie__iconos a {
  color: #1c2126;
}
.pie .pie__p2 {
  grid-area: p2;
  color: #737373;
  font-size: 0.6875rem;
  text-align: center;
}
.pie .pie__prod p {
  font-size: 1.0625rem;
  padding: 0.625rem;
}
.pie .pie__vinc p {
  font-size: 1.0625rem;
  padding: 0.625rem;
}
.pie .pie__enla p {
  font-size: 1.0625rem;
  padding: 0.625rem;
}
.pie .pie__prod a {
  display: flex;
  flex-direction: column;
  font-size: 1.0625rem;
  padding: 0.625rem;
}
.pie .pie__vinc a {
  display: flex;
  flex-direction: column;
  font-size: 1.0625rem;
  padding: 0.625rem;
}
.pie .pie__enla a {
  display: flex;
  flex-direction: column;
  font-size: 1.0625rem;
  padding: 0.625rem;
}
.pie .pie__p3 {
  color: #1c2126;
  text-align: center;
  font-weight: bold;
}
.pie .pie__prod {
  grid-area: prod;
}
.pie .pie__vinc {
  grid-area: vinc;
}
.pie .pie__enla {
  grid-area: enla;
}
.pie .pie__strip {
  width: 100%;
  height: 10%;
  background-color: #7713bf;
}
.pie .pie__p4 {
  color: white;
  padding: 0.5rem;
  font-size: 0.625rem;
  text-align: center;
  line-height: 0.5rem;
}
.pie .pie__p4 a {
  color: white;
  padding: 0.5rem;
  font-size: 0.625rem;
  text-align: center;
  line-height: 0.5rem;
}

#productos {
  display: block;
}

.prod__h2 {
  color: #1c2126;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.01rem;
  line-height: 1.875rem;
  text-align: center;
  padding: 1.25rem;
}

.prod__p {
  font-size: 1.0625rem;
  color: #737373;
  letter-spacing: 0.03rem;
  line-height: 24px;
  padding: 1.5625rem 0rem;
  text-align: center;
}

.prod__card1 {
  grid-area: card1;
  width: 18.125rem;
  height: 18.8125rem;
  border-radius: 16px;
  background: #fff;
  box-shadow: 8px 8px 16px rgba(119, 19, 191, 0.3);
}
.prod__card1 .card1__img1 {
  width: 18.125rem;
  height: 12.5rem;
  background: url(../img/MNYLO_01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.prod__card1 .card1__line1 {
  width: 15.5412rem;
  height: 0px;
  background: rgba(0, 0, 0, 0);
  border: 0.125rem solid #cfcfcf;
  transform: translateX(8%);
  margin: 0.625rem 0rem;
}
.prod__card1 .card1__p1 {
  font-weight: bold;
  font-size: 0.875rem;
  text-align: center;
  color: #1c2126;
  padding: 0.5rem;
}
.prod__card1 .card1__p11 {
  font-weight: 500;
  font-size: 0.8125rem;
  letter-spacing: 0.03em;
  line-height: 0.9375rem;
  text-align: center;
  color: #888888;
  padding: 0.375rem;
}

.prod__card2 {
  grid-area: card2;
  width: 18.125rem;
  height: 18.8125rem;
  border-radius: 16px;
  background: #fff;
  box-shadow: 8px 8px 16px rgba(119, 19, 191, 0.3);
}
.prod__card2 .card1__img2 {
  width: 18.125rem;
  height: 12.5rem;
  background: url(../img/MLOES_01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.prod__card2 .card1__line2 {
  width: 15.5412rem;
  height: 0px;
  background: rgba(0, 0, 0, 0);
  border: 0.125rem solid #cfcfcf;
  transform: translateX(8%);
  margin: 0.625rem 0rem;
}
.prod__card2 .card1__p2 {
  font-weight: bold;
  font-size: 0.875rem;
  text-align: center;
  color: #1c2126;
  padding: 0.5rem;
}
.prod__card2 .card1__p22 {
  font-weight: 500;
  font-size: 0.8125rem;
  letter-spacing: 0.03em;
  line-height: 0.9375rem;
  text-align: center;
  color: #888888;
  padding: 0.375rem;
}

.prod__card3 {
  position: absolute;
  grid-area: card3;
  width: 18.125rem;
  height: 18.8125rem;
  border-radius: 16px;
  background: #fff;
  box-shadow: 8px 8px 16px rgba(119, 19, 191, 0.3);
}
.prod__card3 .card1__img3 {
  width: 18.125rem;
  height: 12.5rem;
  background: url(../img/MPLAS_07.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.prod__card3 .card1__line3 {
  width: 15.5412rem;
  height: 0px;
  background: rgba(0, 0, 0, 0);
  border: 0.125rem solid #cfcfcf;
  transform: translateX(8%);
  margin: 0.625rem 0rem;
}
.prod__card3 .card1__p3 {
  font-weight: bold;
  font-size: 0.875rem;
  text-align: center;
  color: #1c2126;
  padding: 0.5rem;
}
.prod__card3 .card1__p33 {
  font-weight: 500;
  font-size: 0.8125rem;
  letter-spacing: 0.03em;
  line-height: 0.9375rem;
  text-align: center;
  color: #888888;
  padding: 0.375rem;
}

#detalles {
  display: block;
}
#detalles span {
  color: #4cbfbf;
}

.detail__h2 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.01em;
  line-height: 1.875rem;
  text-align: center;
  color: #1c2126;
  padding: 1.25rem;
}

.detail__asa {
  grid-area: asa;
}
.detail__asa .detail__a {
  width: 14.375rem;
  height: 14.375rem;
  background: url(../img/detail_asa.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.44));
}
.detail__asa .detail__p1 {
  width: 14.375rem;
  height: 6.25rem;
  font-size: 1.0625rem;
  color: #737373;
  text-align: center;
}

.detail__med {
  grid-area: med;
}
.detail__med .detail__m {
  width: 14.375rem;
  height: 14.375rem;
  background: url(../img/detail_medida.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.44));
}
.detail__med .detail__p2 {
  width: 14.375rem;
  height: 9.375rem;
  font-size: 1.0625rem;
  color: #737373;
  text-align: center;
}

.detail__bor {
  grid-area: bor;
}
.detail__bor .detail__b {
  width: 14.375rem;
  height: 14.375rem;
  background: url(../img/detail_borde.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.44));
}
.detail__bor .detail__p3 {
  width: 14.375rem;
  height: 6.25rem;
  font-size: 1.0625rem;
  color: #737373;
  text-align: center;
}

.detail__boc {
  grid-area: boc;
}
.detail__boc .detail__bo {
  width: 14.375rem;
  height: 14.375rem;
  background: url(../img/detail_boca.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.44));
}
.detail__boc .detail__p4 {
  width: 14.375rem;
  height: 6.25rem;
  font-size: 1.0625rem;
  color: #737373;
  text-align: center;
}

html {
  font-size: 13px;
}

.color-prim {
  background: #7713bf;
  color: white;
}

.color-secu {
  background: #4cbfbf;
  color: #1c2126;
}

.container {
  max-width: 90%;
  width: 1200px;
  margin: 0px auto;
  position: relative;
}

header.sticky {
  background-color: white;
  filter: drop-shadow(4px 2px 4px rgba(0, 0, 0, 0.3));
}

.logo {
  display: flex;
  position: sticky;
  align-items: center;
  color: #4cbfbf;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 3.75rem;
}

.menuBtn {
  display: block;
}

.logo {
  padding-left: 60px;
}

.navMenu {
  display: block;
  position: absolute;
  top: 3.75rem;
  left: 0px;
  width: 70%;
  margin-left: -70%;
  height: 100vh;
  background: white;
  line-height: 3.75rem;
  transition: all 0.3s ease;
}

.navMenu.change {
  margin-left: 0%;
}

#overlay {
  position: fixed;
  top: 3.75rem;
  left: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  transition: all 0.3s ease;
  display: none;
  z-index: 5;
}

.navMenu li a,
.dropdown-btn {
  padding: 0px 4px 0px 18px;
  font-size: 1.125rem;
  color: #888888;
  display: block;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.navMenu__link.active > a {
  color: #7713bf;
  font-size: 1.125rem;
}

.active {
  color: #7713bf;
  font-size: 1.125rem;
}

.active .dropdown-btn {
  color: #7713bf;
  font-size: 1.125rem;
}

.active .link {
  border-bottom: solid 0.1875rem #7713bf;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-container {
  display: none;
  position: absolute;
  top: 2.5rem;
  background-color: white;
  min-width: 12.5rem;
  overflow: hidden;
  box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.2);
  z-index: 30;
}

.hero__h1 {
  color: #7713bf;
}

.hero__h3 {
  color: #1c2126;
}

.hero__p {
  color: #737373;
}

.fas.fa-angle-down {
  float: right;
  padding-right: 8px;
}

.hero__grid {
  display: grid;
  gap: 6px;
  position: relative;
  top: 120px;
  grid-template: "h1" auto "h3" auto "p" auto "boton" auto "manga" auto;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }

  .navMenu li a,
.dropdown-btn {
    font-size: 1.25rem;
  }

  .navMenu__link.active > a {
    font-size: 1.25rem;
  }

  .active {
    font-size: 1.25rem;
  }

  .active .dropdown-btn {
    font-size: 1.25rem;
  }

  .hero__h1 {
    grid-area: h1;
    font-size: 4.375rem;
  }

  .hero__h3 {
    grid-area: h3;
    font-size: 1.375rem;
  }

  .hero__p {
    grid-area: p;
    font-size: 1.125rem;
  }

  .hero__boton {
    grid-area: boton;
  }

  .hero__mangas {
    grid-area: manga;
    width: 370px;
    height: 294px;
    background: url(../img/mangas_hero.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero__grid {
    top: 180px;
    gap: 20px;
    grid-template: "h1 h1 h1 h1" auto "h3 h3 h3 h3" auto "p p p p" auto "boton boton boton boton" auto "manga manga manga manga" auto "manga manga manga manga" auto "manga manga manga manga" auto "manga manga manga manga" auto;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 19px;
  }

  .menuBtn {
    display: none;
  }

  .logo {
    padding-left: 0px;
  }

  .navMenu {
    display: flex;
    position: absolute;
    top: 30px;
    width: 0%;
    margin-left: 0%;
    height: 0vh;
    width: 1300px;
    max-width: 95%;
    margin: 0px auto;
    align-items: center;
    line-height: 3.75rem;
    justify-content: flex-end;
    z-index: 20;
  }

  .navMenu li a,
.dropdown-btn {
    font-size: 1rem;
  }

  .navMenu a:hover,
.dropdown .dropdown-btn:hover,
.dropdown-container a:hover {
    transform: scale(110%);
    color: #7713bf;
  }

  .navMenu__link.active > a {
    font-size: 1rem;
  }

  .active {
    font-size: 1rem;
  }

  .active .dropdown-btn {
    font-size: 1rem;
  }

  .hero__boton:hover {
    filter: brightness(85%);
  }

  .hero__mangaAzul {
    grid-area: manga;
    width: 588px;
    height: 464px;
    background: url(../img/mangas_hero.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero__grid {
    top: 200px;
    gap: 20px;
    grid-template: "h1 h1 h1 h1 . . . . manga manga manga manga" auto "h3 h3 h3 h3 . . . . manga manga manga manga" auto "p p p p . . . . manga manga manga manga" auto "boton boton boton boton . . . . manga manga manga manga" auto;
  }
}
.prod__fig {
  grid-area: fig;
  width: 768px;
  height: 281.5px;
  background: url("../img/prod_tablet.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.prod__grid {
  display: grid;
  gap: 1.875rem;
  justify-content: center;
  position: relative;
  grid-template: "card1" auto "card2" auto "card3" auto "fig" auto;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16;
  }

  .prod__espa {
    height: 120px;
  }

  .prod__fig {
    grid-area: fig;
    width: 85.375rem;
    height: 300.27px;
    background: url("../img/prod_pc.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .prod__grid {
    grid-template: "card1 card2" auto "card3 fig" auto;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 18;
  }

  .prod__card3 {
    position: relative;
  }

  .prod__grid {
    grid-template: "card1 card2 card3" auto;
  }
}
.detail__fig {
  width: 768px;
  height: 281.5px;
  background: url("../img/detail_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.detail__grid {
  position: relative;
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  padding: 3.75rem;
  grid-template: "asa" auto "med" auto "bor" auto "boc" auto;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16;
  }

  .detail__p4 {
    position: relative;
  }

  .detail__fig {
    width: 85.375rem;
    height: 300.27px;
    background: url("../img/detail_2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .detail__grid {
    display: grid;
    justify-content: space-around;
    position: relative;
    gap: 0.5rem;
    padding: 1.875rem;
    grid-template: "asa med" "boc bor";
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 18;
  }

  .detail__grid {
    display: grid;
    justify-content: space-around;
    position: relative;
    gap: 0.5rem;
    padding: 1.875rem;
    grid-template: "asa med" "boc bor";
  }
}
#galeria {
  display: block;
}
#galeria img {
  vertical-align: top;
  width: 80%;
  max-width: 350px;
  height: auto;
}

.galeria__h2 {
  color: #1c2126;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.01rem;
  line-height: 1.875rem;
  text-align: center;
  padding: 1.25rem;
}

.galeria__p {
  font-size: 1.0625rem;
  color: #737373;
  letter-spacing: 0.03rem;
  line-height: 24px;
  padding: 1.5625rem 0rem;
  text-align: center;
}

.galeria__imgc {
  width: 11.25rem;
  height: auto;
  border-radius: 16px;
  background: #fff;
  box-shadow: 8px 8px 16px rgba(76, 191, 191, 0.6);
}

.galeria__fig {
  width: 768px;
  height: 405px;
  background: url("../img/galeria_tablet.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 0;
}

.galeria__grid {
  display: grid;
  position: relative;
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

/* Style the Image Used to Trigger the Modal */
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {
  transform: scale(120%);
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  background-position: center;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 500px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #4cbfbf;
  padding: 10px 0;
  height: 100%;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
.close {
  position: absolute;
  top: 33px;
  right: 35px;
  color: #4cbfbf;
  font-size: 70px;
  font-weight: normal;
  transition: 0.3s;
  z-index: 2;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16;
  }

  .galeria__fig {
    width: 85.375rem;
    height: 327px;
    background: url("../img/galeria_pc.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 18;
  }
}
#servicios {
  display: block;
}
#servicios img {
  vertical-align: top;
  width: 100%;
  max-width: 300px;
  height: auto;
  padding: 20px;
}

.service__h2 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.01em;
  line-height: 1.875rem;
  text-align: center;
  color: #1c2126;
  padding: 1.25rem;
}

.service__logo {
  grid-area: logo;
}

.service__p {
  grid-area: p;
}

.service__moto {
  grid-area: moto;
  width: 120%;
  height: 120%;
}

.service__zoom {
  grid-area: zoo;
}

.service__mrw {
  grid-area: mrw;
}

.service__tealca {
  grid-area: tea;
  width: 70%;
  height: 70%;
  transform: translateX(21%);
}

.serv__cont1 {
  grid-area: cont1;
}

.serv__cont2 {
  grid-area: cont2;
}

.serv__cont3 {
  grid-area: cont3;
}

.service__grid2 div .cont__h3 {
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 0.01rem;
  line-height: 2.0625rem;
  text-align: center;
  color: white;
}

.service__grid2 div .cont__p {
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
  color: white;
}

.serv__p {
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 0.01rem;
  line-height: 2.6875rem;
  text-align: right;
  color: #4cbfbf;
  text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16);
}

.service__grid {
  position: relative;
  display: grid;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  gap: 0.75rem;
  padding: 3.75rem;
  grid-template: "logo" auto "p" auto "moto" auto "zoo" auto "mrw" auto "tea" auto;
}

.service__grid2 {
  position: relative;
  display: grid;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  gap: 0.75rem;
  padding: 3.75rem;
  background-color: #7713bf;
  border-radius: 30px;
  grid-template: "cont1" auto "." 25px "cont2" auto "." 25px "cont3" auto;
}

.service__content {
  position: relative;
  width: 100%;
  height: 1.875rem;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16;
  }

  .service__grid {
    position: relative;
    display: grid;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    gap: 0.75rem;
    padding: 2.5rem;
    grid-template: "logo p p p" auto ". . . ." 25px "moto zoo mrw tea" auto;
  }

  .service__grid2 {
    position: relative;
    display: grid;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    gap: 1.375rem;
    padding: 2.5rem;
    background-color: #7713bf;
    grid-template: "cont1 cont2 cont3" auto;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 18;
  }
}
.nost__h2 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.01em;
  line-height: 1.875rem;
  text-align: center;
  color: #1c2126;
  padding: 1.25rem;
}

.nost__p {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 43px;
  text-align: left;
  color: #737373;
  padding: 30px;
}

.nost__contcirc {
  position: relative;
  width: 20.375rem;
  height: 20.375rem;
  transform: translateX(12%);
}
.nost__contcirc .nost__contimg {
  position: absolute;
  width: 12rem;
  height: 11.375rem;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.4));
}

.nost__p2 {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 43px;
  text-align: right;
  color: #737373;
  padding: 30px;
}
.nost__p2 span {
  color: #7713bf;
  font-weight: bold;
}

.nost__contblob {
  display: flex;
  position: relative;
  justify-content: center;
  width: 18.5rem;
  height: 11.9875rem;
  margin-bottom: 50px;
  transform: translateX(16%);
}
.nost__contblob .nost__contfig {
  position: absolute;
  width: 8.5813rem;
  height: 10.7531rem;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 18;
  }

  .nost__contp {
    width: 40.75rem;
    height: 19rem;
  }
  .nost__contp .nost__p {
    font-size: 1rem;
    padding: 20px;
  }

  .nost__contcirc {
    width: 26.625rem;
    height: 26.625rem;
    transform: translateX(71%);
    top: 40px;
  }
  .nost__contcirc .nost__contimg {
    width: 15rem;
    height: 14.8125rem;
  }

  .nost__contp2 {
    width: 33.125rem;
    height: 13.0625rem;
  }
  .nost__contp2 .nost__p2 {
    position: absolute;
    font-size: 1rem;
    padding: 40px;
    top: 61%;
  }

  .nost__contblob {
    width: 24.75rem;
    height: 18.2375rem;
    transform: translateX(0%);
  }
  .nost__contblob .nost__contfig {
    width: 11.7063rem;
    height: 13.8781rem;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 20;
  }

  .nost__contp {
    width: 47rem;
    height: 12.75rem;
  }
  .nost__contp .nost__p {
    font-size: 1rem;
    padding: 40px;
  }

  .nost__contcirc {
    width: 26.625rem;
    height: 26.625rem;
    transform: translateX(137%);
  }
  .nost__contcirc .nost__contimg {
    width: 15rem;
    height: 14.8125rem;
  }

  .nost__contp2 {
    width: 26.875rem;
    height: 13.0625rem;
  }
  .nost__contp2 .nost__p2 {
    position: absolute;
    font-size: 1rem;
    padding: 40px;
    top: 60%;
  }

  .nost__contblob {
    width: 24.75rem;
    height: 18.2375rem;
    transform: translateX(0%);
  }
  .nost__contblob .nost__contfig {
    width: 11.7063rem;
    height: 13.8781rem;
  }
}
#mision span {
  color: #7713bf;
  font-weight: bold;
}
#mision p {
  padding: 30px;
}

.misi__h2 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.01em;
  line-height: 1.875rem;
  text-align: center;
  color: #1c2126;
  padding: 1.25rem;
}

.misi__p {
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 43px;
  text-align: left;
  color: #737373;
}

.misi__tit {
  font-weight: bold;
  font-size: 80px;
  letter-spacing: 0.02em;
  line-height: 68px;
  text-align: left;
  color: #7713bf;
  opacity: 0.2;
  writing-mode: sideways-lr;
}

.misi__p2 {
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 43px;
  text-align: left;
  color: #737373;
}

.misi__contit2 {
  display: flex;
  justify-content: right;
}

.misi__tit2 {
  font-weight: bold;
  font-size: 80px;
  letter-spacing: 0.02em;
  line-height: 68px;
  text-align: left;
  color: #7713bf;
  opacity: 0.2;
  writing-mode: sideways-lr;
}

.misi__contrect {
  position: relative;
  width: 18.5rem;
  height: 8.1875rem;
  transform: translateX(20%);
  margin-bottom: 20px;
}

.misi__contfig {
  position: absolute;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 18;
  }

  .misi__contrect {
    position: relative;
    width: 396px;
    height: 231px;
    transform: translateX(43%);
  }

  .misi__contfig {
    position: absolute;
    width: 396px;
    height: 224.88px;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 20;
  }

  .misi__contrect {
    position: relative;
    width: 596px;
    height: 431px;
    transform: translateX(50%);
  }

  .misi__contfig {
    position: absolute;
    width: 596px;
    height: 424.88px;
  }
}
#contacto {
  display: block;
}
#contacto p {
  padding: 20px;
}

.azul {
  color: #1647b9;
  font-weight: bold;
}

.verde {
  color: #13ae3c;
  font-weight: bold;
}

.cont__h2 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.01em;
  line-height: 1.875rem;
  text-align: center;
  color: #1c2126;
  padding: 35px;
}

.cont__contp {
  grid-area: p;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 36px;
  text-align: center;
  color: #737373;
}

.cont__fig {
  grid-area: fig;
  transform: translateX(80%);
  width: 9.125rem;
  height: 7.925rem;
}

.cont__contp2 {
  grid-area: p2;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 36px;
  text-align: center;
  color: #737373;
}

.cont__face {
  grid-area: face;
  transform: translateX(290%);
  width: 2.625rem;
  height: 2.625rem;
  margin: 20px;
}

.cont__inst {
  grid-area: inst;
  transform: translateX(290%);
  width: 2.625rem;
  height: 2.625rem;
  margin: 20px;
}

.cont__contp3 {
  grid-area: p3;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 36px;
  text-align: center;
  color: #737373;
}

.cont__what {
  grid-area: what;
  transform: translateX(290%);
  width: 2.625rem;
  height: 2.625rem;
  margin: 20px;
}

.cont__phone {
  grid-area: phone;
  position: absolute;
  transform: translate(50%, 50%);
  width: 14rem;
  height: 11.705rem;
  margin: 20px;
  z-index: 1;
}

.cont__fig2 {
  grid-area: fig2;
  position: relative;
  width: 768px;
  height: 281.5px;
  background: url("../img/prod_tablet.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.cont__grid {
  display: grid;
  gap: 1rem;
  padding: 0.625rem;
  position: relative;
  justify-content: center;
  text-align: center;
  grid-template: "p" "fig" "p2" "face" "inst" "p3" "what" "phone" "fig2";
}

@media screen and (min-width: 600px) {
  html {
    font-size: 19;
  }

  .cont__face {
    transform: translateX(180%);
  }

  .cont__inst {
    transform: translateX(110%);
  }

  .cont__what {
    transform: translateX(100%);
  }

  .cont__fig {
    grid-area: fig;
    transform: translateX(40%);
    width: 9.125rem;
    height: 7.925rem;
  }

  .cont__phone {
    grid-area: phone;
    position: absolute;
    transform: translateX(180%);
    width: 14rem;
    height: 11.705rem;
    margin: 30px;
    z-index: 1;
  }

  .cont__fig2 {
    grid-area: fig2;
    position: relative;
    width: 85.375rem;
    height: 300.27px;
    background: url("../img/prod_pc.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .cont__grid {
    display: grid;
    gap: 1rem;
    padding: 0.625rem;
    position: relative;
    justify-content: center;
    text-align: center;
    grid-template: "fig p p" "p2 p2 p2" "face . inst" "p3 p3 p3" ". what ." "phone phone phone" "fig2 fig2 fig2";
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 21;
  }

  .cont__fig {
    grid-area: fig;
    transform: translateX(40%);
    width: 246px;
    height: 226.8px;
  }

  .cont__phone {
    grid-area: phone;
    position: absolute;
    transform: translateX(320%);
    width: 14rem;
    height: 11.705rem;
    margin: 30px;
    z-index: 1;
  }

  .cont__grid {
    display: grid;
    gap: 1rem;
    padding: 0.625rem;
    position: relative;
    justify-content: center;
    text-align: center;
    grid-template: "fig p p" "p2 p2 p2" "face . inst" "p3 p3 p3" ". what ." "phone phone phone" "fig2 fig2 fig2";
  }
}
.pie__grid {
  display: grid;
  gap: 0.5rem;
  padding: 0.625rem;
  position: relative;
  text-align: center;
  grid-template: "h2" auto "p1" auto "ico" auto "prod" auto "vinc" auto "enla" auto "p2" auto;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 17;
  }

  .pie__grid .pie__p1 {
    font-size: 1rem;
  }

  .pie__grid .pie__iconos {
    font-size: 1.6875rem;
    padding: 12px;
  }

  .pie__grid .pie__p2 {
    font-size: 0.8125rem;
  }

  .pie__prod .pie__p3 {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__vinc .pie__p3 {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__enla .pie__p3 {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__prod a {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__vinc a {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__enla a {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__grid {
    padding-top: 1.875rem;
    padding-bottom: 0.9375rem;
    text-align: center;
    gap: 0.625rem;
    grid-template: "h2 h2 h2" auto "p1 p1 p1" auto "ico ico ico" auto "prod vinc enla" auto "p2 p2 p2" auto;
  }

  .pie__strip .pie__p4 {
    padding: 0.625rem;
    font-size: 0.75rem;
    line-height: 0.625rem;
  }

  .pie__strip .pie__p4 a {
    padding: 0.625rem;
    font-size: 0.75rem;
    line-height: 0.625rem;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 19;
  }

  .pie__grid .pie__p1 {
    font-size: 1rem;
  }

  .pie__grid .pie__iconos {
    font-size: 1.5625rem;
  }

  .pie__grid .pie__p2 {
    font-size: 0.8125rem;
  }

  .pie__prod .pie__p3 {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__vinc .pie__p3 {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__enla .pie__p3 {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__prod a {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__vinc a {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__enla a {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__grid {
    padding-top: 4.375rem;
    padding-bottom: 2.5rem;
    gap: 1rem;
    grid-template: "h2 h2 h2 h2 . . prod . vinc . enla ." auto "p1 p1 p1 p1 . . prod . vinc . enla . " auto "ico ico ico ico . . prod . vinc . enla ." auto "p2 p2 p2 p2 . . prod . vinc . enla ." auto;
  }

  .pie__strip {
    display: flex;
    justify-content: space-between;
  }

  .pie__strip .pie__p4 {
    padding: 0.875rem;
    font-size: 0.8125rem;
    line-height: 0.875rem;
    margin-left: 60px;
    margin-right: 60px;
  }

  .pie__strip .pie__p4 a {
    padding: 0.875rem;
    font-size: 0.8125rem;
    line-height: 0.875rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
