@use '../sass/components/' as *;

// CONFIGURACIÓN GENERAL  ***************************************

html {
  font-size: 13px;
}

.color-prim {
  background: $color-prim;
  color: white;
}

.color-secu {
  background: $color-secu;
  color: $color-titu;
}

.container {
  max-width: 90%;
  width: 1200px;
  margin: 0px auto;
  position: relative;
}

// ENCABEZADO Y MENU DE NAVEGACIÓN  ***************************
header.sticky {
  background-color: white;
  filter: drop-shadow(4px 2px 4px rgba(0, 0, 0, 0.3));
}

// Logo Menu **************************************************
.logo {
  display: flex;
  position: sticky;
  align-items: center;
  color: $color-secu;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 3.75rem;
}

// Nav Menu Bar **********************************************
.menuBtn {
  display: block;
}

.logo {
  padding-left: 60px;
}

.navMenu {
  display: block;
  position: absolute;
  top: 3.75rem;
  left: 0px;
  width: 70%;
  margin-left: -70%;
  height: 100vh;
  background: white;
  line-height: 3.75rem;
  transition: all 0.3s ease;
}

.navMenu.change {
  margin-left: 0%;
}

#overlay {
  position: fixed;
  top: 3.75rem;
  left: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  transition: all 0.3s ease;
  display: none;
  z-index: 5;
}

.navMenu li a,
.dropdown-btn {
  padding: 0px 4px 0px 18px;
  font-size: 1.125rem;
  color: $color-menu;
  display: block;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.navMenu__link.active > a {
  color: $color-prim;
  font-size: 1.125rem;
}

.active {
  color: $color-prim;
  font-size: 1.125rem;
}

.active .dropdown-btn {
  color: $color-prim;
  font-size: 1.125rem;
}

.active .link {
  border-bottom: solid 0.1875rem $color-prim;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-container {
  display: none;
  position: absolute;
  top: 2.5rem;
  background-color: white;
  min-width: 12.5rem;
  overflow: hidden;
  box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.2);
  z-index: 30;
}

// SECCIÓN INICIO / HERO  **********************************
.hero__h1 {
  color: $color-prim;
}

.hero__h3 {
  color: $color-titu;
}

.hero__p {
  color: $color-parr;
}

.fas.fa-angle-down {
  float: right;
  padding-right: 8px;
}

.hero__grid {
  display: grid;
  gap: 6px;
  position: relative;
  top: 120px;
  grid-template:
    'h1' auto
    'h3' auto
    'p' auto
    'boton' auto
    'manga' auto;
}

// INICIO - PANTALLA DE TABLET ***************************************
@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }

  .navMenu li a,
  .dropdown-btn {
    font-size: 1.25rem;
  }

  .navMenu__link.active > a {
    font-size: 1.25rem;
  }

  .active {
    font-size: 1.25rem;
  }

  .active .dropdown-btn {
    font-size: 1.25rem;
  }

  .hero__h1 {
    grid-area: h1;
    font-size: 4.375rem;
  }

  .hero__h3 {
    grid-area: h3;
    font-size: 1.375rem;
  }

  .hero__p {
    grid-area: p;
    font-size: 1.125rem;
  }

  .hero__boton {
    // padding: 25px 0px;
    grid-area: boton;
  }

  .hero__mangas {
    grid-area: manga;
    width: 370px;
    height: 294px;
    background: url(../img/mangas_hero.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero__grid {
    top: 180px;
    gap: 20px;
    grid-template:
      'h1 h1 h1 h1' auto
      'h3 h3 h3 h3' auto
      'p p p p' auto
      'boton boton boton boton' auto
      'manga manga manga manga' auto
      'manga manga manga manga' auto
      'manga manga manga manga' auto
      'manga manga manga manga' auto;
  }
}

// INICIO - PANTALLA DE PC ***************************************
@media screen and (min-width: 992px) {
  html {
    font-size: 19px;
  }

  .menuBtn {
    display: none;
  }

  .logo {
    padding-left: 0px;
  }

  .navMenu {
    display: flex;
    position: absolute;
    top: 30px;
    width: 0%;
    margin-left: 0%;
    height: 0vh;
    width: 1300px;
    max-width: 95%;
    margin: 0px auto;
    align-items: center;
    line-height: 3.75rem;
    justify-content: flex-end;
    z-index: 20;
  }

  .navMenu li a,
  .dropdown-btn {
    font-size: 1rem;
  }

  .navMenu a:hover,
  .dropdown .dropdown-btn:hover,
  .dropdown-container a:hover {
    transform: scale(110%);
    color: $color-prim;
  }

  .navMenu__link.active > a {
    font-size: 1rem;
  }

  .active {
    font-size: 1rem;
  }

  .active .dropdown-btn {
    font-size: 1rem;
  }

  .hero__boton:hover {
    filter: brightness(85%);
  }

  .hero__mangaAzul {
    grid-area: manga;
    width: 588px;
    height: 464px;
    background: url(../img/mangas_hero.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero__grid {
    top: 200px;
    gap: 20px;
    grid-template:
      'h1 h1 h1 h1 . . . . manga manga manga manga' auto
      'h3 h3 h3 h3 . . . . manga manga manga manga' auto
      'p p p p . . . . manga manga manga manga' auto
      'boton boton boton boton . . . . manga manga manga manga' auto;
  }
}

// SECCIÓN PRODUCTOS  *************************************
.prod__fig {
  grid-area: fig;
  width: 768px;
  height: 281.5px;
  background: url('../img/prod_tablet.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.prod__grid {
  display: grid;
  gap: 1.875rem;
  justify-content: center;
  align-content: center;
  position: relative;
  grid-template:
    'card1' auto
    'card2' auto
    'card3' auto
    'fig' auto;
}

// PRODUCTOS - PANTALLA DE TABLET ***************************************
@media screen and (min-width: 600px) {
  html {
    font-size: 16;
  }

  .prod__espa {
    height: 120px;
  }

  .prod__fig {
    grid-area: fig;
    width: 85.375rem;
    height: 300.27px;
    background: url('../img/prod_pc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .prod__grid {
    grid-template:
      'card1 card2' auto
      'card3 fig' auto;
  }
}

// PRODUCTOS - PANTALLA DE PC ***************************************
@media screen and (min-width: 992px) {
  html {
    font-size: 18;
  }

  .prod__card3 {
    position: relative;
  }

  .prod__grid {
    grid-template: 'card1 card2 card3' auto;
  }
}

// SECCIÓN DETALLES  *************************************
.detail__fig {
  width: 768px;
  height: 281.5px;
  background: url('../img/detail_1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.detail__grid {
  position: relative;
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  padding: 3.75rem;
  grid-template:
    'asa' auto
    'med' auto
    'bor' auto
    'boc' auto;
}

// DETALLES - PANTALLA DE TABLET ***************************************
@media screen and (min-width: 600px) {
  html {
    font-size: 16;
  }

  .detail__p4 {
    position: relative;
  }

  .detail__fig {
    width: 85.375rem;
    height: 300.27px;
    background: url('../img/detail_2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .detail__grid {
    display: grid;
    justify-content: space-around;
    position: relative;
    gap: 0.5rem;
    padding: 1.875rem;
    grid-template:
      'asa med'
      'boc bor';
  }
}

// DETALLES - PANTALLA DE PC ***************************************
@media screen and (min-width: 992px) {
  html {
    font-size: 18;
  }

  .detail__grid {
    display: grid;
    justify-content: space-around;
    position: relative;
    gap: 0.5rem;
    padding: 1.875rem;
    grid-template:
      'asa med'
      'boc bor';
  }
}

// SECCIÓN GALERÍA  **************************************************
#galeria {
  display: block;

  img {
    vertical-align: top;
    width: 80%;
    max-width: 350px;
    height: auto;
  }
}

.galeria__h2 {
  color: $color-titu;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.01rem;
  line-height: 1.875rem;
  text-align: center;
  padding: 1.25rem;
}

.galeria__p {
  font-size: 1.0625rem;
  color: $color-parr;
  letter-spacing: 0.03rem;
  line-height: 24px;
  padding: 1.5625rem 0rem;
  text-align: center;
}

.galeria__imgc {
  width: 11.25rem;
  height: auto;
  border-radius: 16px;
  background: #fff;
  box-shadow: 8px 8px 16px rgba(76, 191, 191, 0.6);
}

.galeria__fig {
  // grid-area: fig;
  width: 768px;
  height: 405px;
  background: url('../img/galeria_tablet.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 0;
}

.galeria__grid {
  display: grid;
  position: relative;
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

/* Style the Image Used to Trigger the Modal */
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {
  // opacity: 0.5;
  transform: scale(120%);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  background-position: center;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 500px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: $color-secu;
  padding: 10px 0;
  height: 100%;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 33px;
  right: 35px;
  color: $color-secu;
  font-size: 70px;
  font-weight: normal;
  transition: 0.3s;
  z-index: 2;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

// GALERÍA - PANTALLA DE TABLET ***************************************
@media screen and (min-width: 600px) {
  html {
    font-size: 16;
  }

  .galeria__fig {
    width: 85.375rem;
    height: 327px;
    background: url('../img/galeria_pc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
  }
}

// GALERÍA - PANTALLA DE PC ***************************************
@media screen and (min-width: 992px) {
  html {
    font-size: 18;
  }
}

// SECCIÓN SERVICIOS  **************************************************
#servicios {
  display: block;

  img {
    vertical-align: top;
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 20px;
  }
}

.service__h2 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.01em;
  line-height: 1.875rem;
  text-align: center;
  color: $color-titu;
  padding: 1.25rem;
}

.service__logo {
  grid-area: logo;
}

.service__p {
  grid-area: p;
}

.service__moto {
  grid-area: moto;
  width: 120%;
  height: 120%;
}

.service__zoom {
  grid-area: zoo;
}

.service__mrw {
  grid-area: mrw;
}

.service__tealca {
  grid-area: tea;
  width: 60%;
  height: 60%;
  transform: translateX(31%);
}

.serv__cont1 {
  grid-area: cont1;
}

.serv__cont2 {
  grid-area: cont2;
}

.serv__cont3 {
  grid-area: cont3;
}

.service__grid2 div .cont__h3 {
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 0.01rem;
  line-height: 2.0625rem;
  text-align: center;
  color: white;
}

.service__grid2 div .cont__p {
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
  color: white;
}

.serv__p {
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 0.01rem;
  line-height: 2.6875rem;
  text-align: right;
  color: $color-secu;
  text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16);
}

.service__grid {
  position: relative;
  display: grid;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  gap: 0.75rem;
  padding: 3.75rem;
  grid-template:
    'logo' auto
    'p' auto
    'moto' auto
    'zoo' auto
    'mrw' auto
    'tea' auto;
}

.service__grid2 {
  position: relative;
  display: grid;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  gap: 0.75rem;
  padding: 3.75rem;
  background-color: $color-prim;
  border-radius: 30px;
  grid-template:
    'cont1' auto
    '.' 25px
    'cont2' auto
    '.' 25px
    'cont3' auto;
}

.service__content {
  position: relative;
  width: 100%;
  height: 1.875rem;
}

// SERVICIOS - PANTALLA DE TABLET ***************************************
@media screen and (min-width: 600px) {
  html {
    font-size: 16;
  }

  .service__grid {
    position: relative;
    display: grid;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    gap: 0.75rem;
    padding: 2.5rem;
    grid-template:
      'logo logo p p' auto
      '. . . .' 25px
      'moto moto zoo zoo' auto
      'mrw mrw tea tea' auto;
  }

  .service__grid2 {
    position: relative;
    display: grid;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    gap: 1.375rem;
    padding: 2.5rem;
    background-color: $color-prim;
    grid-template: 'cont1 cont2 cont3' auto;
    // '. .' 25px
    // 'cont3 cont3' auto;
  }
}

// SERVICIOS - PANTALLA DE PC ***************************************
@media screen and (min-width: 992px) {
  html {
    font-size: 18;
  }

  .service__grid {
    position: relative;
    display: grid;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    gap: 0.75rem;
    padding: 2.5rem;
    grid-template:
      'logo logo p p' auto
      '. . . .' 25px
      'moto mrw zoo tea' auto;
  }
}

// SECCIÓN NOSOTROS  *************************************
#nosotros {
  display: block;

  p {
    padding: 20px 20px 20px 30px;
  }
}

.nost__h2 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.01em;
  line-height: 1.875rem;
  text-align: center;
  color: $color-titu;
  padding: 1.25rem;
}

.nost__contp {
  grid-area: p;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 43px;
  text-align: left;
  color: $color-parr;
}

.nost__contcirc {
  grid-area: circ;
  position: relative;
  width: 80%;
  height: 80%;
  transform: translateX(20%);

  .nost__contimg {
    position: absolute;
    width: 70%;
    height: 70%;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.4));
  }
}

.nost__contp2 {
  grid-area: p2;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 43px;
  text-align: right;
  color: $color-parr;

  span {
    color: $color-prim;
    font-weight: bold;
  }
}

.nost__contblob {
  grid-area: blob;
  position: relative;
  width: 80%;
  height: 80%;
  transform: translateX(20%);
  margin-bottom: 60px;

  .nost__contfig {
    position: absolute;
    width: 45%;
    height: 45%;
    transform: translateX(50%);
  }
}

.nost__grid {
  display: grid;
  justify-content: space-around;
  text-align: center;
  align-content: center;
  gap: 1rem;
  padding: 0.625rem;
  grid-template:
    'p' auto
    'circ' auto
    'p2' auto
    'blob' auto;
}

// NOSOTROS - PANTALLA DE TABLET ***************************************
@media screen and (min-width: 600px) {
  html {
    font-size: 18;
  }

  #nosotros {
    p {
      padding: 40px 50px 40px 70px;
    }
  }

  .nost__contp {
    width: 40.75rem;
    height: 19rem;

    .nost__p {
      font-size: 1rem;
    }
  }

  .nost__contcirc {
    width: 50%;
    height: 50%;
    padding: 30px;
    transform: translate(90%, 20%);

    .nost__contimg {
      width: 60%;
      height: 60%;
      transform: translateY(20%);
    }
  }

  .nost__contp2 {
    width: 40.75rem;
    height: 12rem;

    .nost__p2 {
      font-size: 1rem;
    }
  }

  .nost__contblob {
    width: 50%;
    height: 50%;
    padding: 20px;
    transform: translatex(20%);

    .nost__contfig {
      width: 43%;
      height: 43%;
      transform: translateX(50%);
    }
  }

  .nost__grid {
    display: grid;
    justify-content: space-around;
    text-align: center;
    align-content: center;
    gap: 1rem;
    padding: 0.625rem;
    grid-template:
      'p p' auto
      'circ circ' auto
      'p2 p2' auto
      'blob blob' auto;
  }
}

// NOSOTROS - PANTALLA DE PC ***************************************
@media screen and (min-width: 992px) {
  html {
    font-size: 20;
  }

  #nosotros {
    p {
      padding: 40px 120px 40px 120px;
    }
  }

  .nost__contp {
    width: 60.75rem;
    height: 17rem;

    .nost__p {
      font-size: 1rem;
    }
  }

  .nost__contcirc {
    width: 40%;
    height: 40%;
    transform: translateX(130%);

    .nost__contimg {
      width: 65%;
      height: 65%;
      padding: auto;
    }
  }

  .nost__contp2 {
    width: 60.75rem;
    height: 12rem;

    .nost__p2 {
      font-size: 1rem;
    }
  }

  .nost__contblob {
    width: 40%;
    height: 40%;

    .nost__contfig {
      width: 45%;
      height: 45%;
      transform: translateX(50%);
      padding: auto;
    }
  }

  .nost__grid {
    display: grid;
    justify-content: space-around;
    text-align: center;
    align-content: center;
    gap: 1rem;
    padding: 0.625rem;
    grid-template:
      'p p' auto
      'circ circ' auto
      'p2 p2' auto
      'blob blob' auto;
  }
}

// SECCIÓN MISIÓN  *************************************
#mision {
  span {
    color: $color-prim;
    font-weight: bold;
  }

  p {
    padding: 20px;
  }
}

.misi__h2 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.01em;
  line-height: 1.875rem;
  text-align: center;
  color: $color-titu;
  padding: 1.25rem;
}

.misi__p {
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 43px;
  text-align: left;
  color: $color-parr;
}

.misi__tit {
  font-weight: bold;
  font-size: 70px;
  letter-spacing: 0.02em;
  line-height: 68px;
  text-align: left;
  color: $color-prim;
  opacity: 0.2;
}

.misi__p2 {
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 43px;
  text-align: left;
  color: $color-parr;
}

.misi__tit2 {
  font-weight: bold;
  font-size: 70px;
  letter-spacing: 0.02em;
  line-height: 68px;
  // text-align: right;
  color: $color-prim;
  opacity: 0.2;
}

.misi__contrect {
  position: relative;
  width: 18.5rem;
  height: 8.1875rem;
  transform: translateX(15%);
  margin-bottom: 20px;

  .misi__contfig {
    position: absolute;
  }
}

// MISIÓN - PANTALLA DE TABLET ***************************************
@media screen and (min-width: 600px) {
  html {
    font-size: 18;
  }

  .misi__tit2 {
    transform: translateX(50%);
  }

  .misi__contrect {
    position: relative;
    width: 396px;
    height: 231px;
    transform: translateX(30%);

    .misi__contfig {
      position: absolute;
      width: 396px;
      height: 224.88px;
    }
  }
}

// MISIÓN - PANTALLA DE PC ***************************************
@media screen and (min-width: 992px) {
  html {
    font-size: 20;
  }

  .misi__tit2 {
    transform: translateX(70%);
  }

  .misi__contrect {
    position: relative;
    width: 596px;
    height: 431px;
    transform: translateX(40%);

    .misi__contfig {
      position: absolute;
      width: 596px;
      height: 424.88px;
    }
  }
}

// SECCIÓN CONTÁCTANOS  *************************************
#contacto {
  display: block;

  p {
    padding: 20px;
  }
}

.azul {
  color: #1647b9;
  font-weight: bold;
}

.verde {
  color: #13ae3c;
  font-weight: bold;
}

.cont__h2 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.01em;
  line-height: 1.875rem;
  text-align: center;
  color: $color-titu;
  padding: 35px;
}

.cont__contp {
  grid-area: p;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 36px;
  text-align: right;
  color: $color-parr;
}

.cont__fig {
  grid-area: fig;
  transform: translateX(80%);
  width: 9.125rem;
  height: 7.925rem;
}

.cont__contp2 {
  grid-area: p2;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 36px;
  text-align: left;
  color: $color-parr;
}

.cont__face {
  grid-area: face;
  transform: translateX(180%);
  width: 3.875rem;
  height: 3.875rem;
  margin: 20px;
  margin-bottom: 40px;
}

.cont__inst {
  grid-area: inst;
  transform: translateX(180%);
  width: 3.875rem;
  height: 3.875rem;
  margin: 20px;
}

.cont__contp3 {
  grid-area: p3;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 36px;
  text-align: right;
  color: $color-parr;
}

.cont__what {
  grid-area: what;
  transform: translateX(180%);
  width: 3.875rem;
  height: 3.875rem;
  margin: 20px;
}

.cont__phone {
  grid-area: phone;
  position: absolute;
  transform: translate(50%, 50%);
  width: 14rem;
  height: 11.705rem;
  margin: 20px;
  z-index: 1;
}

.cont__fig2 {
  grid-area: fig2;
  position: relative;
  width: 768px;
  height: 281.5px;
  background: url('../img/prod_tablet.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.cont__grid {
  display: grid;
  gap: 1rem;
  padding: 0.625rem;
  position: relative;
  justify-content: center;
  text-align: center;
  grid-template:
    'p'
    'fig'
    'p2'
    'face'
    'inst'
    'p3'
    'what'
    'phone'
    'fig2';
}

// CONTÁCTANOS - PANTALLA DE TABLET ***************************************
@media screen and (min-width: 600px) {
  html {
    font-size: 19;
  }

  .cont__face {
    transform: translateX(150%);
  }

  .cont__inst {
    transform: translateX(-60%);
  }

  .cont__what {
    transform: translateX(-10%);
  }

  .cont__fig {
    grid-area: fig;
    transform: translateX(40%);
    width: 9.125rem;
    height: 7.925rem;
  }

  .cont__phone {
    grid-area: phone;
    position: absolute;
    transform: translateX(130%);
    width: 14rem;
    height: 11.705rem;
    margin: 30px;
    z-index: 1;
  }

  .cont__fig2 {
    grid-area: fig2;
    position: relative;
    width: 85.375rem;
    height: 300.27px;
    background: url('../img/prod_pc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .cont__grid {
    display: grid;
    gap: 1rem;
    padding: 0.625rem;
    position: relative;
    justify-content: center;
    text-align: center;
    grid-template:
      'fig p p'
      'p2 p2 p2'
      'face . inst'
      'p3 p3 p3'
      '. what .'
      'phone phone phone'
      'fig2 fig2 fig2';
  }
}

// CONTÁCTANOS - PANTALLA DE PC ***************************************
@media screen and (min-width: 992px) {
  html {
    font-size: 21;
  }

  .cont__face {
    transform: translateX(180%);
  }

  .cont__inst {
    transform: translateX(0%);
  }

  .cont__what {
    transform: translateX(70%);
  }

  .cont__fig {
    grid-area: fig;
    transform: translateX(40%);
    width: 246px;
    height: 226.8px;
  }

  .cont__phone {
    grid-area: phone;
    position: absolute;
    transform: translateX(230%);
    width: 14rem;
    height: 11.705rem;
    margin: 30px;
    z-index: 1;
  }

  .cont__grid {
    display: grid;
    gap: 1rem;
    padding: 0.625rem;
    position: relative;
    justify-content: center;
    text-align: center;
    grid-template:
      'fig p p p'
      'p2 p2 p2 p2'
      'face . . inst'
      'p3 p3 p3 p3'
      '. what what .'
      'phone phone phone phone'
      'fig2 fig2 fig2 fig2';
  }
}

// SECCIÓN PIE / FOOTER  *************************************
.pie__grid {
  display: grid;
  gap: 0.5rem;
  padding: 0.625rem;
  position: relative;
  text-align: center;
  grid-template:
    'h2' auto
    'p1' auto
    'ico' auto
    'prod' auto
    'vinc' auto
    'enla' auto
    'p2' auto;
}

// FOOTER - PANTALLA DE TABLET ***************************************
@media screen and (min-width: 600px) {
  html {
    font-size: 17;
  }

  .pie__grid .pie__p1 {
    font-size: 1rem;
  }

  .pie__grid .pie__iconos {
    font-size: 2.9375rem;
    padding: 12px;
  }

  .pie__grid .pie__p2 {
    font-size: 0.9375rem;
  }

  .pie__prod .pie__p3 {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__vinc .pie__p3 {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__enla .pie__p3 {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__prod a {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__vinc a {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__enla a {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__grid {
    padding-top: 1.875rem;
    padding-bottom: 0.9375rem;
    text-align: center;
    gap: 0.625rem;
    grid-template:
      'h2 h2 h2' auto
      'p1 p1 p1' auto
      'ico ico ico' auto
      'prod vinc enla' auto
      'p2 p2 p2' auto;
  }

  .pie__strip .pie__p4 {
    padding: 0.625rem;
    font-size: 0.875rem;
    line-height: 0.625rem;
  }

  .pie__strip .pie__p4 a {
    padding: 0.625rem;
    font-size: 0.875rem;
    line-height: 0.625rem;
  }
}

// FOOTER - PANTALLA DE PC ***************************************
@media screen and (min-width: 992px) {
  html {
    font-size: 19;
  }

  .pie__grid .pie__p1 {
    font-size: 1rem;
  }

  .pie__grid .pie__iconos {
    font-size: 3.125rem;
  }

  .pie__grid .pie__p2 {
    font-size: 1rem;
  }

  .pie__prod .pie__p3 {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__vinc .pie__p3 {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__enla .pie__p3 {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__prod a {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__vinc a {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__enla a {
    font-size: 1.0625rem;
    padding: 0.625rem;
  }

  .pie__grid {
    padding-top: 4.375rem;
    padding-bottom: 2.5rem;
    gap: 1rem;
    grid-template:
      'h2 h2 h2 h2 . . prod . vinc . enla .' auto
      'p1 p1 p1 p1 . . prod . vinc . enla . ' auto
      'ico ico ico ico . . prod . vinc . enla .' auto
      'p2 p2 p2 p2 . . prod . vinc . enla .' auto;
  }

  .pie__strip {
    display: flex;
    justify-content: space-between;
  }

  .pie__strip .pie__p4 {
    padding: 0.875rem;
    font-size: 0.9375rem;
    line-height: 0.875rem;
    margin-left: 60px;
    margin-right: 60px;
  }

  .pie__strip .pie__p4 a {
    padding: 0.875rem;
    font-size: 0.9375rem;
    line-height: 0.875rem;
  }
}

// SECCIÓN PRINCIPAL  **********************

// section:nth-of-type(1) {
//   background-color: white;
// }
// section:nth-of-type(2) {
//   background-color: royalblue;
// }
// section:nth-of-type(3) {
//   background-color: salmon;
// }
// section:nth-of-type(4) {
//   background-color: seagreen;
// }
// section:nth-of-type(5) {
//   background-color: skyblue;
// }
// section:nth-of-type(6) {
//   background-color: slateblue;
// }
// section:nth-of-type(7) {
//   background-color: tan;
// }
// section:nth-of-type(8) {
//   background-color: fuchsia;
// }
