// VARIABLES  **********************************

$color-prim: #7713bf;
$color-secu: #4cbfbf;
$color-alter: #a332f3;
$color-alter2: #0cdbdb;
$color-menu: #888888;
$color-titu: #1c2126;
$color-parr: #737373;
